h1 {
    color:red;
    text-align: center
    ;
}

h2 {
    color:purple;
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

p {
    text-align:center;
}